<div class="product-card">
    <a class="product-card__thumb-link" href="/productos/{{ product.permalink }}">
        {% if product.image_url is defined %}
        <img class="img-responsive product-card__thumb-image" src="{{ product.image_url }}" alt="{{ product.name }}">
        {% else %}
        <img class="img-responsive product-card__thumb-image" src="{{ 'placeholder.svg' | asset_url }}" alt="{{ product.name }}">
        {% endif %}
    </a>
    <a class="product-card__details" href="/productos/{{ product.permalink }}">
        <h4 class="product-card__details__name title">{{ product.name }}</h4>
        <p class="product-card__details__excerpt subtitle">{{ product.excerpt }}</p>
        <hr>
        <h4 class="product-card__details__price title">{{ product.price | money('symbol', 'code') }}</h4>
    </a>
</div>
