{% extends 'layout.twig' %}

{% block body %}

<div class="col-sm-12">
  <h1 class="section-title">{{ blog.title }}</h1>
</div>

<div class="row blog-posts">
  {% for post in posts %}
  <div class="col-sm-8">
    <a class="blog-posts__post-title title" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">
      <h4 class="blog-posts__post-title title">{{ post.title }}</h4>
    </a>
    <p class="blog-posts__post-summary">{{ post.summary }}</p>
  </div>
  {% endfor %}

  <div class="col-sm-3 pull-right">
    {% if tags | length > 0 %}
    <h4 class="tags__title title">Tags</h4>
    <ul class="tags__list">
      {% for tag in tags %}
      <li>
        <a class="tags__list-item-link" href="/blogs/{{ blog.permalink }}/tags/{{ tag.permalink }}">
          {{ tag.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

<div class="row text-center">
  {% include '_pagination.twig' %}
</div>

{% endblock %}
